<div class="container">
    <!-- Main hero unit for a primary marketing message or call to action -->
    <div class="hero-unit">
        <h1><%= t(".new_comment") %></h1>
        <%= render 'form' %>
        <%= link_to t('.back'), comments_path, :class => 'btn full-right' %>
    </div>
    <!-- end_of:Main hero unit for a primary marketing message or call to action -->
  <hr>
</div> <!-- /container -->
<footer>
    <p>&copy; Djengo 2012</p>
</footer>