<div class="container">
    <!-- Main hero unit for a primary marketing message or call to action -->
    <div class="hero-unit-span8">
		<div class="540">
			<h1>Editing article</h1>

			<%= render 'form' %>

			<%= link_to 'Show', @article %> |
			<%= link_to 'Back', articles_path %>
		</div>
	</div>
    	<!-- end_of:Main hero unit for a primary marketing message or call to action -->
  <hr>
</div> <!-- /container -->

<footer>
    <p>&copy; Djengo 2012</p>
</footer>
