.container
  .span8
    / Main hero unit for a primary marketing message or call to action
    .hero-unit
      %h1= t('.new_article')
      = render 'form'
      = link_to 'Back', articles_path
    %hr
  %footer
    %p © Djengo 2012