<div class="container">
  <div class="span8">
    <!-- Main hero unit for a primary marketing message or call to action -->
    <div class="hero-unit">
    	<h1>New article</h1>

	<%= render 'form' %>

	<%= link_to 'Back', articles_path %>
	<!-- end_of:Main hero unit for a primary marketing message or call to action -->
  </div>
  <hr>
</div> <!-- /container -->
<footer>
    <p>&copy; Djengo 2012</p>
</footer>