<div class="container">

  <!-- Main hero unit for a primary marketing message or call to action -->
  <div class="hero-unit">
  	<h1>A propos de djengo</h1><br />
    <!-- <div class="hero-unit-small-paragraph"> -->
  		<p>Djengo, c&rsquo;est l&rsquo;histoire de 4 jeunes dipl&ocirc;m&eacute;s entrepreneurs qui pensent encore pouvoir changer le monde. R&ecirc;ve ou r&eacute;alit&eacute; ?</p>
  		<p>Il s&rsquo;agit d&rsquo;une start-up web innovante favorisant le covoiturage pour les petites et moyennes distances. Gr&acirc;ce &agrave; djengo, vous pouvez d&eacute;sormais r&eacute;server votre trajet en quelques secondes.</p>
      <p>Avant d&rsquo;aller plus loin, il est amusant de s&rsquo;interroger sur la signification de &ldquo;djengo&rdquo;. Est-ce par assimilation au pr&eacute;nom de Django Reinhardt, virtuose et tsigane, et aux gens du voyage ? Ce nom nous est venu &agrave; l&rsquo;esprit sans id&eacute;e pr&eacute;con&ccedil;ue et nous ne pouvons plus nous en passer. D&rsquo;ailleurs, si vous avez l&rsquo;id&eacute;e d&rsquo;une explication rationnelle au nom qui pourrait justifier ce choix, communiquez l&agrave; : vous pourriez gagner le badge &ldquo;cr&eacute;atif&rdquo;</p>
      <p>Revenons &agrave; notre histoire. Il y a quelques mois, comme &agrave; son habitude, Guillaume faisait de l&rsquo;autostop le long de la route. Par malchance ce jour-l&agrave;, personne ne s&rsquo;arr&ecirc;ta pour le charger, et cela malgr&eacute; un nombre inimaginable de voitures, vides de passager.</p>
    <!-- </div> -->
		<table>
      
      <td>
        <p>&nbsp;Quelque chose devait changer.</p>
      </td>
      <td>
        &nbsp;
      </td>
      <td>
        <%= link_to 'More information about us  »', 'aboutus_more', :class => 'btn', %>
      </td>
    </table>
  </div>
  <hr>
  <div class="hero-unit-bottom">
    <h1>Equipe</h1>
     <hr>
    <!-- Example row of columns -->
    <div class="row">
      <div class="equipe-short">
        <h3>Tanguy</h3>
         <p>c&rsquo;est le st&eacute;r&eacute;otype de l&rsquo;entrepreneur stress&eacute; mais ultra motiv&eacute;. Un vrai &laquo; networker &raquo; qui agrandit sans cesse son r&eacute;seau. Lorsque vous lui pr&eacute;sentez un projet, il voit directement qui pourrait vous aider ou quels sont vos concurrents....</p>
      </div>
      <div class="equipe-short">
        <h3>David</h3>
        <p>c&rsquo;est le gars pos&eacute; toujours de bonne humeur. Passionn&eacute; par l&rsquo;informatique et les syst&egrave;mes de r&eacute;seaux, il cr&eacute;e nos algorithmes. En dehors de cela, il prend soin de son corps en faisant du sport quotidiennement....
        </p>
      </div>
    </div>
    <div class="row">
        <div class="span5 ">
          <a class="btn full-right" href="#">View details &raquo;</a>
        </div>
        <div class="span5">
          <a class="btn full-right" href="#">View details &raquo;</a>
        </div>
    </div>
    <br>
    <div class="row">
      <div class="equipe-short">
        <h3>Anissia</h3>
         <p>c&rsquo;est la fille du groupe, celle qui a du caract&egrave;re &agrave; revendre et qui ne passe jamais &agrave; c&ocirc;t&eacute; d&rsquo;un d&eacute;tail. Elle est l&rsquo;arme de communication de 
         </p>
      </div>
      <div class="equipe-short">
        <h3>Guillaume</h3>
        <p>c&rsquo;est le visionnaire qui vous enchante sans cesse et vous incite &agrave; vous surpasser. Il est passionn&eacute; par l&rsquo;innovation et la consommation collaborative. Sa vie d&rsquo;entrepreneur est d&eacute;di&eacute;e &agrave; l&rsquo;utilisation des nouvelles technologies pour la cr&eacute;ation d&rsquo;outils aidant les communaut&eacute;s &agrave; s&rsquo;organiser....
        </p>
      </div>
    </div>
    <div class="row">
        <div class="span5 ">
          <a class="btn full-right" href="#">View details &raquo;</a>
        </div>
        <div class="span5">
          <a class="btn full-right" href="#">View details &raquo;</a>
        </div>
    </div>
    </div>
  </div>
</div> <!-- /container -->
  <hr>
<footer>
  <p>&copy; Djengo 2012</p>
</footer>