.container
  / Main hero unit for a primary marketing message or call to action
  .hero-unit
    %h1 Equipe
    %br/
    .row
      .span5
        %h3 Tanguy
        %p
          C’est le stéréotype de l’entrepreneur stressé mais ultra motivé. Un vrai « networker » qui agrandit sans cesse son réseau. Lorsque vous lui présentez un projet, il voit directement qui pourrait vous aider ou quels sont vos concurrents. En visitant son blog perso, vous vous apercevrez qu’il ferait tout pour sa passion et que son ultime objectif dans la vie est de vivre à San Francisco. Il assimile sans cesse tout ce qu’il apprend. Il n’a pas de limites. Malheureusement, il n’a aucun goût pour la musique et pour le design. Mais cela ne l’empêchera pas de réaliser son rêve : se rendre le plus rapidement à la Silicon Valley avec djengo.
      .span5
        %h3 David
        %p
          C’est le gars posé toujours de bonne humeur. Passionné par l’informatique et les systèmes de réseaux, il crée nos algorithmes. En dehors de cela, il prend soin de son corps en faisant du sport quotidiennement. Un jour peut-être, les sports de combat qu’il pratique au quotidien seront utiles à Djengo. Honnêtement, nous ne savons pas trop comment il se débrouille pour être si musclé et ne manger que 2 yoghourt et 3 pommes par jour. Sa passion pour l’entrepreneuriat grandit jour après jours. Son ultime objectif est de proposer un trajet sur djengo avec sa future belle voiture.
    .row
      .span5
        %b Plus sérieusement
        %ul
          %li Computer Sciences degree @ Louvain-La-Neuve (2011);
          %li Responsable du développement des fonctionnalités et de l’intégration du design;
      .span5
        %b Plus sérieusement:
        %ul
          %li Computer Sciences degree @ Louvain-La-Neuve (2011);
          %li Responsable de la création des algorithmes et des fonctionnalités du système;
    .row
      .span5
        %h3 Anissia
        %p
          C’est la fille du groupe, celle qui a du caractère à revendre et qui ne passe jamais à côté d’un détail. Elle est l’arme de communication de Djengo. Si vous lui parlez d’une idée business que vous aimeriez lancer, soyez prêts à voir votre “idée débile” démontée. C’est sa règle d’or. Elle a une capacité innée à se concentrer uniquement sur les activités à valeur ajoutée. Elle est fan des cercles type « google + », et rêve de Djengo pleins de cercles roses… une horreur. Elle s’initie à la couture et à la cuisine…
      .span5
        %h3 Guillaume
        %p
          C’est le visionnaire qui vous enchante sans cesse et vous incite à vous surpasser. Il est passionné par l’innovation et la consommation collaborative. Sa vie d’entrepreneur est dédiée à l’utilisation des nouvelles technologies pour la création d’outils aidant les communautés à s’organiser. C’est aussi le beau gosse que vous retrouvez, souriant bêtement, sur les premières pages des pubs pour supermarchés. Il aimerait avoir le corps de David et son rêve est d’être rugbyman mais il quitte chaque année l’entrainement après 2 semaines. Il développe Djengo car il n’a pas assez d’argent pour payer ses tickets de métro et encore moins une voiture. .
    .row
      .span5
        %b Plus sérieusement:
        %ul
          %li Solvay Brussels School of Economics and Management @ ULB (2010);
          %li Responsable de la Communication, du Marketing & des aspects Légaux;
      .span5
        %b Plus sérieusement:
        %ul
          %li Solvay Brussels School of Economics and Management @ ULB (2008);
          %li En charge du Community Management, de la Stratégie & de la Finance;
  %hr
/ /container
%footer
  %p © Djengo 2012