<div class="container">

  <!-- Main hero unit for a primary marketing message or call to action -->
  <div class="hero-unit">
  	<div class="box-float">
      <h1>Bonjour, </h1>
      <p>
        Vous vous trouvez sur le blog de Djengo,<br /> 
        Retrouvez y tout vos messages et le commentaires de vos amis.
      </p>
    </div>
    
    <div class="box-float">
      <%= image_tag("screen-shot.png") %>
    </div>
    <hr>
    <%= link_to 'Article', articles_path, :class => 'btn btn-large full-right', %>
      <br /><br />
  </div>
  <hr>
</div> <!-- /container -->

<footer>
  <p>&copy; Djengo 2012</p>
</footer>


		 