<div class="container">

  <!-- Main hero unit for a primary marketing message or call to action -->
  <div class="hero-unit">
    <table>
      <tr>
        <th>
          <h2><%= t :Bonjour %></h2>
          <p>
            <h1><%= t :Welcome_paragraphe %><br /><br /><%= t :welcome_paragraphe_2 %></h1>
          </p>
        </th>
      </tr>
    </table>
    <%= link_to image_tag("screen-shot.png"), articles_path, :class => 'blog-image' %>
  </div>
  <hr>
</div> <!-- /container -->

<footer>
  <p>&copy; Djengo 2012</p>
</footer>


     