<div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="">BlogForDjengo</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="/users/articles/">Article</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
              <li><%= link_to "Log out", destroy_user_session_path, :method => :delete %></li>
              <li></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
      	<h1>Blog#index</h1>
		<p>Find me in app/views/blog/index.html.erb</p>
		<a class="btn" href="/users/sign_out" data-method="delete" rel="nofollow">Logout</a>
			
		 <!-- <%= link_to "Log out", destroy_user_session_path, :method => :delete %> -->