<div class="container">

  <!-- Main hero unit for a primary marketing message or call to action -->
  <div class="hero-unit">
    <table>
      <tr>
        <td>
          <h1>Bonjour, </h1>
          <p>
            <h2>Vous vous trouvez sur le blog de Djengo<br /><br /> 
            Retrouvez y tout vos messages et le commentaires de vos amis.</h2>
          </p>
        </td>
        <td>
          <%= link_to image_tag("screen-shot.png"), articles_path, :class => 'blog-image' %>
        </td>
      </tr>
      <hr>
    </table>
  </div>
  <hr>
</div> <!-- /container -->

<footer>
  <p>&copy; Djengo 2012</p>
</footer>


		 