<div class="container">

  <!-- Main hero unit for a primary marketing message or call to action -->
  <div class="hero-unit">
  	<h1>Bonjour, </h1>
    <p>
      Vous vous trouvez sur le blog de Djengo,<br /> 
      Retrouvez y tout vos messages et le commentaires de vos amis.
    </p>
    
    <%= link_to 'Article', articles_path, :class => 'btn btn-primary btn-large', %>
      
  </div>
  <hr>
</div> <!-- /container -->

<footer>
  <p>&copy; Djengo 2012</p>
</footer>


		 