.hero-unit {
	margin-top: -50px;
	h1 {
		font-size: 20px;
	}
	p {
		font-size: 12px;
		line-height: 16px;
	}
}

.hero-unit-bottom {
	background-color: #eee;
	padding: 20px;
	width: 1100px;
	margin-left: auto;
	margin-right: auto;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.row {
	padding: 10px;
	width: 1100px;
	margin-left: auto;
	margin-right: auto;
}



.equipe-short {
	border: 1px solid #ccc;
	padding: 10px;
	margin: 10px;
	width: 500px;
	height: 100px;
	float: left;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.full-right {
	float: right;
	margin-right: 10px;
}

.gras {
	font-style: italic;
	font-weight: bold;
	font-size: 14px;
	margin-right: 10px;
}

.gras2 {
	font-size: 12px;
}

footer {
	margin-right: 50px;
}